<%= render @inbox %>
<div>
  <%= link_to "Edit this inbox", edit_inbox_path(@inbox) %> |
  
</div>

<h1>
Messages 
<%=@inbox.messages_count%> 
</h1>

<%= link_to 'New Message' , [:new,@inbox, :message]%>
<%= render partial: 'inboxes/messages/message',collection: @inbox.messages%>
